body{
font-family: Arial;
margin:0;
background:#f4f4f4;
}

header{
background:#004d40;
color:white;
text-align:center;
padding:20px;
}

nav ul li a{
color:white;
text-decoration:none;
font-weight:bold;
padding:8px 12px;
transition:0.3s;
}

nav ul li a:hover{
background:#ff9800;
border-radius:5px;
}

section{
padding:20px;
}

img{
width:400px;
margin:10px;
border-radius:8px;
}

table{
border-collapse:collapse;
width:60%;
}

table, th, td{
border:1px solid black;
padding:10px;
}

form{
display:flex;
flex-direction:column;
width:300px;
}

button{
background:#00796b;
color:white;
padding:10px;
border:none;
}
.hero{
background-image: url("festival.jpg");
background-size: cover;
background-position: center;
color:white;
text-align:center;
padding:120px 20px;
}

.hero h2{
font-size:40px;
}

.btn{
background:#ff9800;
color:white;
padding:12px 25px;
text-decoration:none;
font-weight:bold;
border-radius:5px;
}
.gallery{
display:flex;
gap:20px;
flex-wrap:wrap;
}

.gallery img{
width:250px;
border-radius:10px;
box-shadow:0 4px 8px rgba(0,0,0,0.3);
}
footer{
background:#222;
color:white;
text-align:center;
padding:15px;
margin-top:40px;
}

iframe{
margin-top:20px;
border-radius:8px;
}

ul li{
margin:5px;
}
body{
font-family: Arial, sans-serif;
margin:0;
padding:0;

background-image: url("festival.jpg");
background-size: cover;
background-position: center;
background-attachment: fixed;
color: #333;
}
section{
background: rgba(255,255,255,0.9);
margin: 20px;
padding: 20px;
border-radius: 10px;
}
h1{
text-align:center;
color:#004080;
}

h2{
color:#006600;
}

img{
width:300px;
border-radius:10px;
margin:10px;
}

